<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <target xsi:type="Console" name="console"
            layout="${date} | ${level:uppercase=true} | ${logger} | ${message} | ${replace-newlines:${exception:format=toString}}" />
    <target xsi:type="Network" name="logstash" keepConnection="false"
            address="tcp://192.168.0.201:5000"
            layout="${level:uppercase=true}#${logger}#${callsite:includeSourcePath=true} ${callsite-linenumber}#${message}#${replace-newlines:${event-properties:item=EventId}}#${replace-newlines:replacement=|:${exception:format=ToString}}"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Info" writeTo="logstash"/>
  </rules>
</nlog>